mets2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.loc.gov/METS2/" xmlns="http://www.loc.gov/METS2/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:premis="info:lc/xmlns/premis-v2" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:import namespace="info:lc/xmlns/premis-v2"
        schemaLocation="premis_mets_extensions.xsd"/>

    <xs:annotation>
        <xs:documentation > 
            METS 2: Metadata Encoding and Transmission Standard Version 2 
            Copyright © 2013 Digital Library Federation 
            January, 2013 Version 2.0 
            This is the first 2.x version of METS. It is not compatible with 
            the previous 1.x versions. It draws heavily on the PREMIS specification and 
            reuses PREMIS types whenever possible. 
        </xs:documentation>
        <xs:documentation>
            METS 2 by Digital Library Federation
            
            To the extent possible under law, the person who associated CC0 with
            METS 2 has waived all copyright and related or neighboring rights
            to METS 2.
                   
            You should have received a copy of the CC0 legal code along with this
            work.  If not, see &lt;http://creativecommons.org/publicdomain/zero/1.0/&gt;.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="mets">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="metsComplexType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="metsComplexType">
        <xs:sequence>
            <xs:element ref="header" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="objectGroup" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="premis:event" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="premis:agent" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="premis:rights" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="version" type="versionSimpleType" use="required"/>        
    </xs:complexType>
    
    
    <xs:element name="header" type="metsHeaderComplexType"/>
    <xs:complexType name="metsHeaderComplexType">
        <xs:annotation>
            <xs:documentation>One issue is differentiating properties that apply to the intellectual entity versus 
                properties that apply to METS XML document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="intellectualEntityLabel" minOccurs="0" maxOccurs="1"/>
            
            <xs:element ref="intellectualEntityType" minOccurs="0" maxOccurs="1"/>
            
            <xs:element ref="metsProfile" minOccurs="0" maxOccurs="1"/>
            
            <xs:element ref="metsUse" minOccurs="0" maxOccurs="1"/>
            
            <xs:element ref="metsStatus" minOccurs="0" maxOccurs="1"/>
            
            <xs:element ref="premis:linkingIntellectualEntityIdentifier" minOccurs="0"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This subsumes the OBJID and altRecordId identifiers in METS 1.
                        These identify the intellectual entity associated with the METS documents.
                        For example, it could be an ISBN for a book, or a DOI for a journal article, etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element ref="premis:objectIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This subsumes the metsDocumentID in METS 1. It is the
                        identifier for the METS document itself.</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element ref="premis:linkingEventIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Events that happen to the METS document, such as creation or
                        modification, are tracked as PREMIS Events. This subsumes the CREATEDATE and
                        LASTMODDATE attributes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element ref="premis:linkingRightsStatementIdentifier" minOccurs="0"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Rights associated with the object are tracked as
                        PREMIS Rights.</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element ref="premis:linkingAgentIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Agents associated with the METS document, but not necessarily
                        associated with events that have occurred to the document or rights
                        associated with the document, are tracked as PREMIS
                        Agents.</xs:documentation>
                </xs:annotation>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>

    <xs:element name="objectGroup" type="objectGroupComplexType"/>
    <xs:complexType name="objectGroupComplexType">
        <xs:annotation>
            <xs:documentation>All the information entities packaged within the METS file are organized and contained in a objectGroup elements.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="objectGroupIdentifier"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="objectGroupUse" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="objectGroupStatus" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="objectGroupSequence" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="objectGroupLabel" minOccurs="0" maxOccurs="1"/>
            <xs:sequence maxOccurs="unbounded" minOccurs="0"  >
                <xs:element ref="objectGroup" minOccurs="0" maxOccurs="unbounded"/>
                <xs:choice >
                    <xs:element name="file" minOccurs="0" maxOccurs="unbounded" type="premis:file"/>
                    <xs:element ref="filePointer" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="filePart" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="filesParallel"  minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="filesSequential"  minOccurs="0" maxOccurs="unbounded"/>
                </xs:choice>
            </xs:sequence>  
            <xs:element ref="premis:linkingEventIdentifier" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="filesParallel" type="parallelFilesComplexType"/>
    <xs:complexType name="parallelFilesComplexType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="filesSequential" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="filePointer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="filePart" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:element name="filesSequential" type="sequentialFilesComplexType"/>
    <xs:complexType name="sequentialFilesComplexType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="filesParallel" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="filePointer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="filePart" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:element name="filePointer" type="fileComplexType"/>
    <xs:complexType name="fileComplexType">
        <xs:sequence>
            <xs:element ref="premis:linkingObjectIdentifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="filePart" type="partOfFileComplexType"/>
    <xs:complexType name="partOfFileComplexType">
        <xs:sequence>
            <xs:element ref="premis:linkingObjectIdentifier" minOccurs="1" maxOccurs="1"/>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="circle"/>
                <xs:element ref="rectangle"/>
                <xs:element ref="polygon"/>
            </xs:choice>
            <xs:element ref="begin" maxOccurs="1" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="end"/>
                <xs:element ref="extent"/>
            </xs:choice>
            <xs:element name="partExtension" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="partOfFileIdentifier" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="begin" type="beginEndComplexType"/>
    <xs:element name="end" type="beginEndComplexType"/>
    <xs:element name="extent" type="extentComplexType"/>
    
    <xs:complexType name="extentComplexType">
        <xs:choice>
            <xs:element name="byte"/>
            <xs:element name="smil"/>
            <xs:element name="midi"/>
            <xs:element name="smpte-25"/>
            <xs:element name="smpte-24"/>
            <xs:element name="smpte-df30"/>
            <xs:element name="smpte-ndf30"/>
            <xs:element name="smpte-df29.97"/>
            <xs:element name="smpte-ndf29.97"/>
            <xs:element name="time"/>
            <xs:element name="tcf"/>
        </xs:choice>
    </xs:complexType>
        
    <xs:complexType name="beginEndComplexType">
        <xs:complexContent>
            <xs:extension base="extentComplexType">
                <xs:choice>
                    <xs:element name="idref"/>
                    <xs:element name="xptr"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>

    <xs:element name="circle">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="center" type="pointComplexType" />
                <xs:element name="radius" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="rectangle">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="topLeft" type="pointComplexType" />
                <xs:element name="bottomRight" type="pointComplexType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="polygon">
        <xs:complexType>
            <xs:sequence minOccurs="3" maxOccurs="unbounded">
                <xs:element name="point" type="pointComplexType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="pointComplexType">
        <xs:sequence>
            <xs:element name="x" type="xs:double"/>
            <xs:element name="y" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="objectGroupIdentifier" type="objectGroupIdentifierComplexType"/>
    <xs:complexType name="objectGroupIdentifierComplexType">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element ref="objectGroupIdentifierType"/>
            <xs:element ref="objectGroupIdentifierValue"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="partOfFileIdentifier" type="partOfFileIdentifierComplexType"/>
    <xs:complexType name="partOfFileIdentifierComplexType">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element ref="partOfFileIdentifierType"/>
            <xs:element ref="partOfFileIdentifierValue"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="embeddedContent" type="objectContentComplexType"/>
    <xs:complexType name="objectContentComplexType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="binaryData"/>
            <xs:element ref="xmlData"/>
            <xs:element ref="textData"/>
        </xs:choice>
    </xs:complexType>
    

    <xs:element name="partOfFileIdentifierType" type="xs:string"/>
    <xs:element name="partOfFileIdentifierValue" type="xs:string"/>

    <xs:element name="intellectualEntityLabel" type="xs:string"/>
    <xs:element name="intellectualEntityType" type="xs:string"/>
    <xs:element name="metsProfile" type="xs:string"/>
    <xs:element name="metsStatus" type="xs:string"/>
    <xs:element name="metsUse" type="xs:string"/>
    
    <xs:element name="objectGroupIdentifierType" type="xs:string"/>
    <xs:element name="objectGroupIdentifierValue" type="xs:string"/>
    <xs:element name="objectGroupStatus" type="xs:string"/>
    <xs:element name="objectGroupUse" type="xs:string"/>
    <xs:element name="objectGroupSequence" type="xs:int"/>
    <xs:element name="objectGroupLabel" type="xs:string"/>
    
    <xs:element name="objectStatus" type="xs:string"/>
    <xs:element name="objectUse" type="xs:string"/>
    <xs:element name="objectSequence" type="xs:int"/>
    
    <xs:element name="binaryData" type="xs:base64Binary"/>
    <xs:element name="textData" type="xs:string"/>
    <xs:element name="xmlData">
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##any" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="versionSimpleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="2.0"/>
            <!-- add to enumeration as new versions are released -->
        </xs:restriction>
    </xs:simpleType>
    

<!--
        <xs:import namespace="info:lc/xmlns/premis-v2"
        schemaLocation="http://www.loc.gov/standards/premis/v2/premis.xsd"/>
    
    Decided against this approach because it makes the mets:file type potentially incompatible with the premis:file type.
    Instead the premis:file is extended in a compatible way in the premis_mets_extensions.xsd
    
    <xs:complexType name="file">
        <xs:complexContent>
            <xs:extension base="premis:objectComplexType">
                <xs:annotation>
                    <xs:documentation>
                        The PREMIS abstract object type is being extended to insert some elements from the METS namespace, including the ability  
                        embed the file using mets:embeddedContent which is equivalent to the METS 1 FContent element. 
                        The premis:storage element is used to point to the content; it is equivalent to the Mets FLocat elements.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element ref="objectUse" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="objectStatus" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="objectSequence" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="premis:objectIdentifier" maxOccurs="unbounded"/>
                    <xs:element ref="premis:preservationLevel" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:significantProperties" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:objectCharacteristics" maxOccurs="unbounded"/>
                    <xs:element ref="premis:originalName" minOccurs="0"/>
                    <xs:element ref="premis:storage" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="embeddedContent" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:environment" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:signatureInformation" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:relationship" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:linkingEventIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:linkingIntellectualEntityIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="premis:linkingRightsStatementIdentifier" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="xmlID" type="xs:ID"/>
                <xs:attribute name="version" type="premis:versionSimpleType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
-->
    
</xs:schema>
